/*+--------------------------------------------------------------------------+*/
/*+--------------------------------------------------------------------------+*/

#include <os2.h>
#include "fractz.h"

ICON ID_WINDOW PRELOAD fractz.ico

MENU ID_WINDOW PRELOAD
   {
   SUBMENU "~Fractal",            IDM_FRACTYPE,      MIS_TEXT
      {
      MENUITEM "~Mandel",         IDM_MANDEL,        MIS_TEXT,  MIA_CHECKED
      MENUITEM "~Lambda",         IDM_LAMBDA,        MIS_TEXT
      MENUITEM "~CmplxNewt",      IDM_CMPLXNEWT,     MIS_TEXT
      MENUITEM "~Julia",          IDM_JULIA1,        MIS_TEXT
      MENUITEM "Cm~plxMan",       IDM_CMPLXMAN,      MIS_TEXT
      MENUITEM "Ma~gnetj1",       IDM_MAGNETJ1,      MIS_TEXT
      MENUITEM "~Tetration",      IDM_TETRATION,     MIS_TEXT
      MENUITEM "~Spider",         IDM_SPIDER,        MIS_TEXT
      MENUITEM SEPARATOR
      MENUITEM "~Reset",          IDM_RESET,          MIS_TEXT
      MENUITEM SEPARATOR
      MENUITEM "S~ave as BMP...", IDM_SAVE,           MIS_TEXT
      MENUITEM "~View BMP...",    IDM_VIEW,           MIS_TEXT
      MENUITEM "~Unview BMP",     IDM_UNVIEW,         MIS_TEXT
      MENUITEM SEPARATOR
      MENUITEM "E~xit",           IDM_EXITPROG,       MIS_TEXT
      }
   SUBMENU "~Display",            IDM_DISPLAY,        MIS_TEXT
      {
      MENUITEM "~Image",          IDM_IMAGE,          MIS_TEXT, MIA_CHECKED
      MENUITEM "~Orbits",         IDM_ORBIT,          MIS_TEXT
      MENUITEM SEPARATOR
      MENUITEM "~Fix Colors",     IDM_FIXCOLORS,      MIS_TEXT, MIA_CHECKED
      MENUITEM "~Change Colors",  IDM_CHANGECOLORS,   MIS_TEXT
      }

   SUBMENU "~Settings",           IDM_SETUP,          MIS_TEXT
      {
      MENUITEM "~Dialog...",      IDM_SETTINGS,       MIS_TEXT
      }
   SUBMENU "~Map",                IDM_MAP,            MIS_TEXT
      {
      MENUITEM "~Default",        IDM_DEFAULT,        MIS_TEXT,  MIA_CHECKED
      MENUITEM "~Altern",         IDM_ALTERN,         MIS_TEXT
      MENUITEM "~Blues",          IDM_BLUES,          MIS_TEXT
      MENUITEM "~Chroma",         IDM_CHROMA,         MIS_TEXT
      MENUITEM "~Darkgrey",       IDM_DARKGREY,       MIS_TEXT
      MENUITEM "~Firestrm",       IDM_FIRESTRM,       MIS_TEXT
      MENUITEM "Gamma~1",         IDM_GAMMA1,         MIS_TEXT
      MENUITEM "Gamma~2",         IDM_GAMMA2,         MIS_TEXT
      MENUITEM "~Green",          IDM_GREEN,          MIS_TEXT
      MENUITEM "Gre~y",           IDM_GREY,           MIS_TEXT
      MENUITEM "~Landscap",       IDM_LANDSCAP,       MIS_TEXT
      MENUITEM "~Neon",           IDM_NEON,           MIS_TEXT
      MENUITEM "~Paintjet",       IDM_PAINTJET,       MIS_TEXT
      MENUITEM "~Royal",          IDM_ROYAL,          MIS_TEXT
      MENUITEM "~Topo",           IDM_TOPO,           MIS_TEXT
      MENUITEM "~Volcano",        IDM_VOLCANO,        MIS_TEXT
      MENUITEM  SEPARATOR
      MENUITEM "R~andom",         IDM_RANDOM,         MIS_TEXT
      MENUITEM  SEPARATOR
      MENUITEM "Co~mplement",     IDM_COMPLEMENT,     MIS_TEXT
      }
   SUBMENU "~Help", IDM_HELP, MIS_TEXT
      {
      MENUITEM "~Instructions", IDM_HELPINSTRUCTIONS, MIS_TEXT
      MENUITEM SEPARATOR
      MENUITEM "~Product Information", IDM_HELPABOUT, MIS_TEXT
      }
   }

ACCELTABLE ID_WINDOW PRELOAD
   {
   VK_F1, IDM_HELPINSTRUCTIONS, VIRTUALKEY
   VK_F3, IDM_EXITPROG, VIRTUALKEY
   }

STRINGTABLE PRELOAD
   {
   IDS_APPNAME,      "FRACTZ"
   IDS_NOREGISTER,   "Window class could not be registered."
   IDS_NOSTDWINDOWS, "The standard windows could not be created."
   IDS_NOTHREAD,     "The drawing thread could not be created."
   IDS_SEMERROR,     "A semaphore error occurred."
   IDS_FAILOPEN,     "Couldn't open file."
   IDS_FAILCREATE,   "Couldn't create file (duplicate perhaps)."
   }


/*********
DLGTEMPLATE DLG_SETTINGS 
BEGIN
	DIALOG "SETTINGS", DLG_SETTINGS, 5, 3, 410, 251, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	PRESPARAMS PP_FONTNAMESIZE "8.Helv"
	BEGIN
		CONTROL "XL", DLG_XLEFT, 34, 205, 60, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_TABSTOP
		CONTROL "XR", DLG_XRIGHT, 34, 190, 61, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_TABSTOP
		CONTROL "YB", DLG_YBOTTOM, 33, 175, 61, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_TABSTOP
		CONTROL "YT", DLG_YTOP, 34, 160, 60, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_TABSTOP
		CONTROL "REALDX", DLG_REALNO, 209, 205, 61, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_TABSTOP
		CONTROL "IMAGDY", DLG_IMAGNO, 209, 190, 60, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_TABSTOP
		CONTROL "MAXITER", DLG_MAXITER, 209, 175, 59, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_TABSTOP
		CONTROL "BAILOUT", DLG_BAILOUT, 209, 160, 59, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_TABSTOP
		CONTROL "1", DLGA_INSIDECOLOR, 344, 205, 27, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_TABSTOP
		CONTROL "1.0", DLG_SPHERERAD, 208, 124, 27, 9, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_ANY | WS_VISIBLE | WS_TABSTOP
		CONTROL "50.0", DLGA_MAXHT, 21, 68, 35, 11, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_TABSTOP
		DEFPUSHBUTTON "OK", DID_OK, 6, 4, 51, 14
		PUSHBUTTON "Cancel", DID_CANCEL, 71, 4, 51, 14
		PUSHBUTTON "Help", 998, 134, 3, 51, 14, BS_HELP
		CONTROL "NAME", DLG_FRACTNAME, 99, 240, 100, 10, WC_ENTRYFIELD, ES_CENTER | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_HILITEBACKGROUNDCOLOR , 0x0L
		CONTROL "FORMULA", DLG_FORMULA, 99, 225, 100, 10, WC_ENTRYFIELD, ES_CENTER | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "EXAMPLE", DLG_EXAMPLEPERTS, 227, 231, 64, 10, WC_ENTRYFIELD, ES_CENTER | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "XL =", 112, 7, 205, 19, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "XR =", 113, 7, 190, 19, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "YB =", 114, 7, 175, 19, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "YT =", 115, 6, 160, 20, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Bailout =", 116, 154, 160, 50, 10, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Maxiter =", 117, 154, 175, 50, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Imag Pert. (dY) =", 118, 119, 190, 85, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Real Pert. (dX) =", 119, 119, 205, 85, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Hint Perturbation", 120, 224, 242, 70, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Box Coordinates", 121, 7, 222, 65, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "spherical", DLG_SPHERICAL, 9, 137, 7, 7, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "dlga180", DLG_180, 71, 131, 9, 8, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "dlga360", DLG_360, 71, 119, 7, 6, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Radius =", 110, 157, 124, 45, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "Sphere", 111, 23, 137, 29, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Covers 180", 106, 82, 131, 52, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "Covers 360", 107, 83, 118, 50, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "hemi / full", 108, 69, 114, 66, 35, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		DEFPUSHBUTTON "OK", 101, 33, -18, 51, 14
		PUSHBUTTON "Cancel", 102, 87, -18, 51, 14
		PUSHBUTTON "Help", 105, 141, -18, 51, 14, BS_HELP
		CONTROL "phi", DLGA_PHI, 114, 32, 280, 20, WC_SLIDER, SLS_HORIZONTAL | SLS_BOTTOM | SLS_HOMELEFT | SLS_BUTTONSBOTTOM | SLS_PRIMARYSCALE1 | WS_VISIBLE
		CTLDATA 12, 0, 181, 0, 181, 0
		CONTROL "beta", DLGA_BETA, 113, 58, 280, 20, WC_SLIDER, SLS_HORIZONTAL | SLS_BOTTOM | SLS_HOMELEFT | SLS_BUTTONSBOTTOM | SLS_PRIMARYSCALE1 | WS_VISIBLE
		CTLDATA 12, 0, 181, 0, 181, 0
		CONTROL "alpha", DLGA_ALPHA, 113, 84, 280, 18, WC_SLIDER, SLS_HORIZONTAL | SLS_BOTTOM | SLS_HOMELEFT | SLS_BUTTONSBOTTOM | SLS_PRIMARYSCALE1 | WS_VISIBLE
		CTLDATA 12, 0, 181, 0, 181, 0
		CONTROL "usepotential", DLGA_USEPOTENTIAL, 321, 164, 8, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Alpha", 125, 87, 88, 23, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "Beta", 126, 91, 63, 20, 7, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "Phi", 127, 93, 39, 16, 6, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "Inside =", 128, 309, 206, 30, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Ceiling Ht.", 130, 20, 81, 36, 7, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", 131, 3, 151, 405, 2, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", 132, 0, 109, 409, 2, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", 133, 1, 24, 408, 1, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", 134, 312, 153, 96, 30, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL "3d", DLGA_THREED, 9, 94, 8, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "3-D", 21, 23, 93, 27, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Use Potential", DLGA_USEPOTENTIAL, 331, 164, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "Yes", DLG_AUTOYES, 20, 42, 28, 9, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "No", DLG_AUTONO, 20, 30, 25, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Autoscale", 22, 18, 30, 56, 30, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END
END
*******************/

rcinclude fractz.dlg





HELPTABLE 1 
BEGIN
END

